<!DOCTYPE html>
<html lang="{{ lang | default('en') }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if include_mathjax %}
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']],
        processEscapes: true
      }
    };
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  {% endif %}

  {% if custom_styles %}
  <style>
{{ custom_styles }}
  </style>
  {% endif %}

  <link rel="stylesheet" href="/static/style.css">
  <title>{{ title }} · Sung Cho</title>
</head>
<body>
  <div id="menu">
    <span class="title">Sung Cho</span>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about.html">About</a></li>
      <li><a href="/essays.html">Essays</a></li>
      <li><a href="/papers.html">Research</a></li>
      <li><a href="/notes.html">Notes</a></li>
      <li><a href="/books.html">Books</a></li>
      <li><a href="/courses.html">Courses</a></li>
      <li><a href="/misc.html">Misc.</a></li>
    </ul>
  </div>
  <div id="left"></div>
  <div id="content">
    {% block content %}{% endblock %}
  </div>

  {% if include_accordion %}
  <script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;

    if (panel.style.maxHeight && panel.style.maxHeight !== "0px") {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
  </script>
  {% endif %}
</body>
</html>
